{
	# https://caddyserver.com/docs/caddyfile/directives#sorting-algorithm
	order mercure after encode
	order vulcain after reverse_proxy
}

localhost 

root /srv
vulcain
file_server

handle /books {
  header "Link" "</books>; rel=\"self\", <https://localhost/.well-known/mercure>; rel=\"mercure\""
  try_files ./tests-server/fixtures/books.jsonld {path}
}

handle /books/* {
  header "Link" "<{path}>; rel=\"self\", <https://localhost/.well-known/mercure>; rel=\"mercure\""
  try_files ./tests-server/fixtures/{path}.jsonld {path}
}

handle /authors/* {
  header "Link" "<{path}>; rel=\"self\", <https://localhost/.well-known/mercure>; rel=\"mercure\""
  try_files ./tests-server/fixtures/{path}.jsonld {path}
}

handle /index.js {
  try_files ./*/{path} {path}
}

handle /*.js {
  root /srv/packages
  try_files ./*/{path} {path}
}

handle /* {
  try_files ./tests-server/{path}.html {path}
}

handle / {
  try_files ./tests-server/index.html {path}
}

mercure {
  publisher_jwt key
  subscriber_jwt key
  anonymous true
  ui true
}
