{
	# https://caddyserver.com/docs/caddyfile/directives#sorting-algorithm
	order mercure after encode
	order vulcain after reverse_proxy
}

localhost 

root /srv
vulcain
file_server

header "Set-Cookie" "mercureAuthorization=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJtZXJjdXJlIjp7InN1YnNjcmliZSI6WyIqIl0sInB1Ymxpc2giOlsiKiJdfX0.NXhzhXJ8VTxiRRW3pAB4EgP7s_guZeibwzAGw3wZ_KY; Secure; HttpOnly; SameSite=Lax; Path=/.well-known/mercure;"

handle /books {
  header "Link" "</books>; rel=\"self\", <https://mercure.soyuka.me/.well-known/mercure>; rel=\"mercure\""
  try_files ./tests-server/fixtures/books.jsonld {path}
}

handle /books/* {
  header "Link" "<{path}>; rel=\"self\", <https://mercure.soyuka.me/.well-known/mercure>; rel=\"mercure\""
  try_files ./tests-server/fixtures/{path}.jsonld {path}
}

handle /authors/* {
  header "Link" "<{path}>; rel=\"self\", <https://mercure.soyuka.me/.well-known/mercure>; rel=\"mercure\""
  try_files ./tests-server/fixtures/{path}.jsonld {path}
}

handle /index.js {
  try_files ./*/{path} {path}
}

handle /*.js {
  root /srv/packages
  try_files ./*/{path} {path}
}

handle /* {
  try_files ./tests-server/{path}.html {path}
}

handle / {
  try_files ./tests-server/index.html {path}
}

mercure {
  publisher_jwt key
  subscriber_jwt key
  anonymous true
  ui true
}
