/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/public/ld.js
/public/mercure.js
/public/white-paper.html
/public/linked-data.html
/public/mercure.html
